### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#use the len and the unique function for the players and their screen name 

players_total = len(purchase_data['SN'].unique())

#create a dataframe to find the player count
players_count = pd.DataFrame({"players total" : [players_total]})
players_count.head()

   players total
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Run basic calculations to obtain number of unique items, average price, etc.
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

unique_items = purchase_data['Item ID'].unique()
average_price = (purchase_data["Price"]).mean() 
purchased_items = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

#Create a summary data frame to hold the results
summary_df = pd.DataFrame({"unique items":[unique_items],
                           "average price":[average_price],
                           "purchased items":[purchased_items],
                           "total revenue": [total_revenue]})



#Display the summary data frame
summary_df.style.format({'average price':"${:,.2f}",
                         'total revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Count of male players
Male = purchase_data.groupby(['Gender']).get_group(('Male'))
Male_df = len(Male['SN'].unique())
#Percentage of Male players
Male_percent = round((Male_df/players_count)*100,2)

#Count of female players 
Female = purchase_data.groupby(['Gender']).get_group(('Female'))
Female_df = len(Female['SN'].unique())
#Percentage of Female players
Female_percent = round((Female_df/players_count)*100,2)

#Count of Other / Non-Disclosed
Other_Non_Disclosed = purchase_data.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
Other_Non_Disclosed_df = len(Other_Non_Disclosed ['SN'].unique())
Other_Non_Disclosed_df

#Percentage of Other / Non-Disclosed
Other_Non_Disclosed_percent = round((Other_Non_Disclosed_df/players_count)*100,2)

#Gender dataframe
Gender_df = pd.DataFrame({'Percent of Players': [Male_percent, Female_percent, Other_Non_Disclosed_percent],  
                          'Gender Count': [Male_df, Female_df, Other_Non_Disclosed_df]})
Gender_df

                  Percent of Players  Gender Count
0     players total
0          84.03           484
1     players total
0          14.06            81
2     players total
0           1.91            11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

NameError: name 'age_grouped' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
#create age bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
#bin names
categories = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#create column for age bins in the users dataframe
users["Age Category"] = pd.cut(users["Age"], bins, labels=categories)
#group users by age bin
grouped_age = users.groupby("Age Category")
grouped_age.max()

##calculations
#total count of each age range
count_age = grouped_age["Username"].count()
#percentage of each age range
perc_age = count_age / count_players

#create summary table of age demographics
summary_age_demo = pd.DataFrame({"Total Count": count_age,
                                "Percentage of Players": [perc_format(x) for x in perc_age]})    #format percentage values

#output summary of age demographics
summary_age_demo

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#create column for age bins in the users dataframe
purchase["Age Category"] = pd.cut(purchase["Age"], bins, labels=categories)
#group purchases by age bin
grouped_age_purchase = purchase.groupby("Age Category")

##calculations
#purchase count by age
purchase_count = grouped_age_purchase["Purchase ID"].count()
#average purchase per age bin
avg_purchase = grouped_age_purchase["Price"].mean()
#total of purchases in each age bin
total_purchases = grouped_age_purchase["Price"].sum()
#average purchase amount per age bin
avg_purchase_per_person_a = total_purchases_a / count_age

#create summary table of purchases by age
####and format all monetary amounts
summary_age_purchases = pd.DataFrame({
    "Purchase Count": purchase_count_a,
    "Avg Purchase Price": [money_format(x) for x in avg_purchase_a],
    "Total Purchase Price": [money_format(x) for x in total_purchases_a],
    "Avg Total Purchase per Person": [money_format(x) for x in avg_purchase_per_person_a]
})

#output summary of purchase analysis by age
summary_age_purchases

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# purchase count
spenders_count_df = purchase_data.groupby("SN")["Purchase ID"].count()
spenders_count_df

#Average Purchase Price
spenders_average_price_df = round(purchase_data.groupby("SN")["Price"].mean(),2)
spenders_average_price_df

#Total Purchase Value
spenders_total_df = purchase_data.groupby("SN")["Price"].sum()
spenders_total_df

# Summary table 
spender_table_df = pd.DataFrame({"Purchase Count":spenders_count_df,
                                   "Average Purchase Price":spenders_average_price_df,
                                   "Total Purchase Value":spenders_total_df})
spender_table_df.head()

# Table formatting
spender_table_df.style.format({"Average Purchase Price":"${:,.2f}", 
                              "Total Purchase Value":"${:,.2f}"})

# Determining the top 5 spenders
top_five_spenders = spender_table_df.sort_values("Total Purchase Value", ascending=False)
top_five_spenders.head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Create new data frame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
### Most Profitable Items

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

# Table formatting
Items_df.style.format({"Item Price":"${:,.2f}", 
                              "Total Purchase Value":"${:,.2f}"})

# Identify the 5 most profitable items using the most popular DataFrame
most_profitable_items_df = Items_purchased_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_items_df.head()